{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background: {{ section.settings.section_bg }};

    {% if section.settings.hide_on_desktop %}
        display: none;
    {% endif %}

  }
  @media screen and (max-width:749px){
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
      display: block;
      {% if section.settings.hide_on_mobile %}
        display: none;
      {% endif %}
    }
  }
{% endstyle %}

<div class="counter-section">
  <div class="first-count">
    <h2>{{ section.settings.firts_num }}</h2>
    <h3>{{ section.settings.second_num }}</h3>
  </div>
  <div class="second-counter">
    <h2>{{ section.settings.firts_num_2 }}</h2>
    <h3>{{ section.settings.second_num_2 }}</h3>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to start the counters when the page loads
    startCounters();
  });

  function startCounters() {
    var firstInitial = parseInt(document.querySelector('.first-count h2').textContent);
    var firstFinal = parseInt(document.querySelector('.first-count h3').textContent);
    var secondInitial = parseInt(document.querySelector('.second-counter h2').textContent);
    var secondFinal = parseInt(document.querySelector('.second-counter h3').textContent);

    var firstDifference = Math.abs(firstFinal - firstInitial);
    var secondDifference = Math.abs(secondFinal - secondInitial);

    var maxDifference = Math.max(firstDifference, secondDifference);

    if (isNaN(firstFinal) || isNaN(secondFinal)) {
      console.error("Please enter valid final values.");
      return;
    }

    // Define speed multiplier to increase speed
    var speedMultiplier = 5.0; // Adjust this value to increase/decrease speed

    var firstCounterInterval = setInterval(function() {
      if (firstInitial < firstFinal) {
        firstInitial++;
        document.querySelector('.first-count h2').textContent = firstInitial;
      } else {
        clearInterval(firstCounterInterval);
      }
    }, (maxDifference * 1000 / firstDifference) * speedMultiplier); // Adjusted interval for first counter

    var secondCounterInterval = setInterval(function() {
      if (secondInitial < secondFinal) {
        secondInitial++;
        document.querySelector('.second-counter h2').textContent = secondInitial;
      } else {
        clearInterval(secondCounterInterval);
      }
    }, (maxDifference * 1000 / secondDifference) * speedMultiplier); // Adjusted interval for second counter
  }
</script>

{% schema %}
{
  "name": "Counter Section",
  "class": "custom-counter-section",
  "settings": [
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "checkbox",
      "id": "hide_on_desktop",
      "label": "Hide on desktop"
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on mobile"
    },
    {
      "type" : "text",
      "id" : "firts_num",
      "label" : "Enter Firts Value"
    },
    {
      "type" : "text",
      "id" : "second_num",
      "label" : "Enter Second Value"
    },
    {
      "type" : "text",
      "id" : "firts_num_2",
      "label" : "Enter Firts Value"
    },
    {
      "type" : "text",
      "id" : "second_num_2",
      "label" : "Enter Second Value"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background"
    }
  ],
  "presets": [
    {
      "name": "Counter Section"
    }
  ]
}
{% endschema %}
