<style>
  .creators {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  .creator {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 2px 5px 5px;
    padding: 20px;
  }
  .creator-products {
    display: flex;
    column-gap: 15px;
    justify-content: center;
  }
  .creator-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    color: rgb(var(--color-foreground));
  }
</style>

<div class="page-width creators">
  {% for block in section.blocks %}
    <div class="creator">
      <div class="creator-image">
        {{ block.settings.photo | img_tag }}
      </div>
      <h2 class="creator-title">{{ block.settings.name }}</h2>
      <p class="creator-paragraph">{{ block.settings.bio }}</p>
      <h3>Creator of...</h3>
      <div class="creator-products">
        {% for product in block.settings.creator_of %}
          <a href="{{ product.url }}" class="creator-product">
            {{ product.featured_image | image_url: '100x' }}
            {{ product.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Creators",
  "settings": [],
  "blocks" :[
    {
      "type" : "creators",
      "name" : "Creators",
      "settings": [
        {
          "type" : "image_picker",
          "id" : "photo",
          "label" : "Photo"
        },
        {
          "type" : "text",
          "id" : "name",
          "label" : "Name"
        },
        {
          "type" : "textarea",
          "id" : "bio",
          "label" : "Bio"
        },
        {
          "type" : "product_list",
          "id" : "creators_of",
          "label" : "List of Products created"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Creator Dynamic "
    }
  ]
}
{% endschema %}
