{%- style -%}
  #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top}}px;
      padding-bottom: {{ section.settings.padding_bottom}}px;
      background-color:{{section.settings.section_bg}};
  }

    @media only screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.mb_padding_top }}px;
        padding-bottom: {{ section.settings.mb_padding_bottom }}px;
      }
    }
{%- endstyle -%}
<div class="custom-menu-handle-section">
  <h1>Custom Menu Handel</h1>
<div>
  {% assign menu = linklists[section.settings['menu-handle']] %}

  <nav class="custom-nav">
    <ul class="menu-links">
      {% for item in menu.links %}
        <li class="menu-item">
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.links.size > 0 %}
            <ul class="submenu">
              {% for child_item in item.links %}
                <li class="submenu-item">
                  <a href="{{ child_item.url }}">{{ child_item.title }}</a>
                  {% if child_item.links.size > 0 %}
                    <ul class="subsubmenu">
                      {% for grandchild_item in child_item.links %}
                        <li>
                          <a href="{{ grandchild_item.url }}">{{ grandchild_item.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>


{% schema %}
{
  "name": "Custom Menu Handle",
  "class": "custom-menu-handle",
  "settings": [
  {
    "type" : "link_list",
    "id" : "menu-handle",
    "label" : "Menu Handle"
  },
  {
    "type": "header",
    "content": "Spacing Desktop"
  },
  {
    "type": "number",
    "id": "padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "header",
    "content": "Spacing Mobile"
  },
  {
    "type": "number",
    "id": "mb_padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "mb_padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "color",
    "id": "section_bg",
    "label": "Section Background"
  }
  ],
  "presets":[
    {
      "name" : "Custom Menu Handle"
    }
  ]
}
{% endschema %}
