{%- style -%}
  #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top}}px;
      padding-bottom: {{ section.settings.padding_bottom}}px;
      background-color:{{section.settings.section_bg}};
  }

    @media only screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.mb_padding_top }}px;
        padding-bottom: {{ section.settings.mb_padding_bottom }}px;
      }
    }
{%- endstyle -%}

{% assign menu-handle = linklists[section.settings.menu_handle].links %}

<div class="custom-menu-link-section page-width">
  <h1>Custom Menu Handle</h1>

  <div class="main-menu">
    <ul class="menu" id="parent">
      {% for link in menu-handle %}
        <li class="menu-link {% if forloop.index > 5 %}hidden-menu-item{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links.size > 0 %}
            <ul class="menu dropdown-child">
              {% for child_link in link.links %}
                <li class="menu-link">
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  {% if child_link.links.size > 0 %}
                    <ul class="menu dropdown-grandchild">
                      {% for grandchild_link in child_link.links %}
                        <li class="menu-link">
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <button id="see-more" onclick="toggleMenu()">See more</button>
  </div>

  <script>
       function toggleMenu() {
      var menuItems = document.querySelectorAll('.menu-link');
      var seeMoreButton = document.getElementById('see-more');

      menuItems.forEach(function (item, index) {
        if (index <= 5) {
          if (seeMoreButton.innerHTML === 'Less') {
            item.classList.remove('hidden-menu-item');
          } else {
            item.classList.add('hidden-menu-item');
          }
        } else {
          item.classList.toggle('hidden-menu-item');
        }
      });

      if (seeMoreButton.innerHTML === 'See more') {
        seeMoreButton.innerHTML = 'Less';
      } else {
        seeMoreButton.innerHTML = 'See more';
      }
    }
  </script>
  <style>
    .hidden-menu-item {
      display: none;
    }

    .show-menu-item {
      display: list-item !important;
    }
  </style>
</div>

{% schema %}
{
  "name": "Custom Menu Links",
  "class": "custom-menu-link",
  "settings": [
  {
    "type" : "link_list",
    "id" : "menu_handle",
    "label" : "Menu Handle"
  },
  {
    "type": "header",
    "content": "Spacing Desktop"
  },
  {
    "type": "number",
    "id": "padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "header",
    "content": "Spacing Mobile"
  },
  {
    "type": "number",
    "id": "mb_padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "mb_padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "color",
    "id": "section_bg",
    "label": "Section Background"
  }
  ],
  "presets":[
    {
      "name" : "Custom Menu Links"
    }
  ]
}
{% endschema %}
