{%- style -%}
  #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top}}px;
      padding-bottom: {{ section.settings.padding_bottom}}px;
      background-color:{{section.settings.section_bg}};
  }

    @media only screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.mb_padding_top }}px;
        padding-bottom: {{ section.settings.mb_padding_bottom }}px;
      }
    }
{%- endstyle -%}
<div class="custom-menu-handle-section">
  <h1>Custom Menu Handel</h1>
  <div class="main-menu">
    {% assign menu = linklists[section.settings['menu-handle']].links %}
    {% for link in menu.links %}
      <h1>{{ link.title }}</h1>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Custom Menu Handle",
  "class": "custom-menu-handle",
  "settings": [
  {
    "type" : "text",
    "id" : "menu-handle",
    "label" : "Menu Handle"
  },
  {
    "type": "header",
    "content": "Spacing Desktop"
  },
  {
    "type": "number",
    "id": "padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "header",
    "content": "Spacing Mobile"
  },
  {
    "type": "number",
    "id": "mb_padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "mb_padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "color",
    "id": "section_bg",
    "label": "Section Background"
  }
  ],
  "presets":[
    {
      "name" : "Custom Menu Handle"
    }
  ]
}
{% endschema %}
