{%- style -%}
  #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top}}px;
      padding-bottom: {{ section.settings.padding_bottom}}px;
      background-color:{{section.settings.section_bg}};
  }

    @media only screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.mb_padding_top }}px;
        padding-bottom: {{ section.settings.mb_padding_bottom }}px;
      }
    }
{%- endstyle -%}

{% assign menu-handel = linklists[section.settings.menu_handle].links %}

<div class="custom-menu-link-section page-width">
  <h1>Custom Menu Handel</h1>

  <div class="main-menu">
    <ul class="menu">
      {% for link in menu-handel %}
        <li
          class="menu-link"
          {% if link.size > 6 %}
            sssssss
          {% endif %}
        >
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links.size > 0 %}
            <ul class="menu dropdown-child">
              {% for child_link in link.links %}
                <li class="menu-link">
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                  {% if child_link.links.size > 0 %}
                    <ul class="menu dropdown-grandchild">
                      {% for grandchild_link in child_link.links %}
                        <li class="menu-link">
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Custom Menu Links",
  "class": "custom-menu-link",
  "settings": [
  {
    "type" : "link_list",
    "id" : "menu_handle",
    "label" : "Menu Handle"
  },
  {
    "type": "header",
    "content": "Spacing Desktop"
  },
  {
    "type": "number",
    "id": "padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "header",
    "content": "Spacing Mobile"
  },
  {
    "type": "number",
    "id": "mb_padding_top",
    "label": "Top spacing",
    "default": 0
  },
  {
    "type": "number",
    "id": "mb_padding_bottom",
    "label": "Bottom spacing",
    "default": 0
  },
  {
    "type": "color",
    "id": "section_bg",
    "label": "Section Background"
  }
  ],
  "presets":[
    {
      "name" : "Custom Menu Links"
    }
  ]
}
{% endschema %}
