{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background: {{ section.settings.section_bg }};

    {% if section.settings.hide_on_desktop %}
        display: none;
    {% endif %}

  }
  @media screen and (max-width:749px){
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
      display: block;
      {% if section.settings.hide_on_mobile %}
        display: none;
      {% endif %}
    }
  }
{% endstyle %}

<div class="custom-featuer-collection-tabs">
  <h2>{{ section.settings.heading }}</h2>
</div>

{% schema %}
{
  "name": "Featuer Collections Tabs",
  "class": "custom-featuer-collection-tabs",
  "settings": [
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "checkbox",
      "id": "hide_on_desktop",
      "label": "Hide on desktop"
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "placeholder": "Featuerd Collection"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background"
    }
  ],
  "blocks" :[
    {
      "type" : "creators",
      "name" : "Creators",
      "settings": [
        {
          "type" : "image_picker",
          "id" : "photo",
          "label" : "Photo"
        },
        {
          "type" : "text",
          "id" : "name",
          "label" : "Name"
        },
        {
          "type" : "richtext",
          "id" : "bio",
          "label" : "Bio"
        },
        {
          "type" : "product_list",
          "id" : "creators_of",
          "label" : "List of Products created"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featuer Collections Tabs"
    }
  ]
}
{% endschema %}