<div class="custom-product-template page-width">
  <div class="product-images">
    {% if product.selected_or_first_available_variant.featured_image %}
      {% assign featured = product.selected_or_first_available_variant.featured_image %}
      <img id="product-image" src="{{ featured | img_url: 'master' }}">
    {% else %}
      {% assign featured = product.featured_image %}
      <img id="product-image" src="{{ featured | img_url: 'master' }}">
    {% endif %}

    <ul class="thumbs-image">
      {% for image in product.images %}
        <li class="{% if image == featured %} selected {% endif %}"><img src="{{ image | img_url:'300x' }}"></li>
      {% endfor %}
    </ul>
    {% comment %}
      {% for variant in product.variants %}
        {% for image in variant.images %}
          <img src="{{ image | img_url:master }}">
        {% endfor %}
      {% endfor %}
    {% endcomment %}
  </div>
  <div class="product-info">
    <h3>{{ product.title }}</h3>

    <span class="variant-sku">SKU: {{ product.variants.first.sku }}</span>
    <div class="product-prices">
      <p class="product-compare {% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}hide {% endunless %}">
        {{ product.selected_or_first_available_variant.compare_at_price | money }}
      </p>
      <p class="product-price">
        {{ product.selected_or_first_available_variant.price | money }}
      </p>
    </div>

    {% form 'product', product %}
      <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {% if product.variants.size > 1 %}
        <div class="product-options">
          {% comment %}
            {% for option in product.options_with_values %}
              <fiedlset>
                <legend>{{ option.name }}</legend>
                <div class="option-with-values">
                  {% for value in option.values %}
                    <div>
                      <input
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                        type="radio"
                        name="{{  option.name}}"
                        value="{{ value }}"
                        id="{{ option.name | handlize }}-{{ value | handlize }}"
                      >
                      <label for="{{ option.name | handlize }}-{{ value  | handlize }}">
                        {{ value }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </fiedlset>
            {% endfor %}
          {% endcomment %}

          {% comment %}
            Updated Logic that support high variants for shopify
          {% endcomment %}
          {% for option in product.options_with_values %}
            <fieldset>
              <legend>{{ option.name }}</legend>
              <div class="option-with-values">
                {% for value in option.values %}
                  <div>
                    <input
                      {% if option.selected_value == value %}
                        checked
                      {% endif %}
                      type="radio"
                      name="{{ option.name }}"
                      value="{{ value }}"
                      id="{{ option.name | handleize }}-{{ value | handleize }}"
                      {% unless value.available %}
                        class="disabled"
                        disabled
                      {% endunless %}
                      data-option-value-id="{{ value.id }}"
                      data-product-url="{{ value.product_url }}"
                    >
                    <label for="{{ option.name | handleize }}-{{ value | handleize }}">
                      {{ value }}
                    </label>
                  </div>

                  <script type="application/json">
                    {{ option.variant | json }}
                  </script>
                {% endfor %}
              </div>
            </fieldset>
          {% endfor %}
        </div>
      {% endif %}

      <label class="custom-quantity" for="quantity">Quantity </label>
      <div class="quantity-selctor">
        <button type="button" class="qs-minus">
          {% include 'icon-minus' %}
        </button>
        <input id="quantity" name="quantity" value="1" min="1" disabled class="quantity-selctor-ins">
        <button type="button" class="qs-plus">
          {% include 'icon-plus' %}
        </button>
      </div>
      <div class="peoduct-atc">
        <button
          {% unless product.selected_or_first_available_variant.available %}
            disabled
          {% endunless %}
          id="add-to-cart-button"
        >
          {% if product.selected_or_first_available_variant.available %}
            Add to Cart
          {% else %}
            Out Of Stock
          {% endif %}
        </button>

        <button
          {% unless product.selected_or_first_available_variant.available %}
            disabled
          {% endunless %}
          id="buy-cart-button"
        >
          {% if product.selected_or_first_available_variant.available %}
            Buy It Now
          {% else %}
            Out Of Stock
          {% endif %}
        </button>
      </div>

      {% for item in product.metafields.custom.weight.value -%}
        {{ item }}
      {%- endfor %}
    {% endform %}
  </div>
</div>

<div class="supplier-section">
  {% for supplier in shop.metafields.supplier.value %}
    <img src="{{ supplier.photo | image_url: width: 360 }}">
    <h3>{{ supplier.title }}</h3>
  {% endfor %}
</div>
