<div class="custom-product-template page-width">
  <div class="product-images">
    <img src="{{ product.featured_image | img_url: 'master' }}">

    {% for variant in product.variants %}
      {% for image in variant.images %}
        <img src="{{ image | img_url: 'master' }}">
      {% endfor %}
    {% endfor %}
  </div>
  <div class="product-info">
    <h3>{{ product.title }}</h3>

    <span class="variant-sku">SKU: {{ product.variants.first.sku }}</span>
    <p>{{ product.price | money }}</p>

    {% form 'product', product %}
      <select name="id">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
          >
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>
      {% if product.variants.size > 1 %}
        <div class="product-option">
          {% for option in product.options_with_values %}
            <fiedlset>
              <legend>{{ option.name }}</legend>
              {% for value in option.values %}
                <div>
                  <input
                    {% if option.selected_value == value %}
                      checked
                    {% endif %}
                    type="radio"
                    name="{{  option.name}}"
                    value="{{ value }}"
                    id="{{ option.name | handlize }}-{{ value | handlize }}-{{ variant.id }}"
                  >
                  <label for="{{ option.name | handlize }}-{{ value  | handlize }}">
                    {{ value }}
                  </label>
                </div>
              {% endfor %}
            </fiedlset>
          {% endfor %}
        </div>
      {% endif %}

      <label for="quantity">Quantity </label>
      <input type="number" id="quantity" name="quantity" value="1" min="1">

      <button id="add-to-cart-button">Add to Cart</button>
      {% for item in product.metafields.custom.weight.value -%}
        {{ item }}
      {%- endfor %}
    {% endform %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('.product-option input[type="radio"]').change(function() {
      var selectedValue = $(this).val();
      $('select[name="id"] option').each(function() {
        if ($(this).val() === selectedValue) {
          $('select[name="id"]').val(selectedValue);
          $(this).attr('selected', 'selected');
        }
      });
    });

    $('#add-to-cart-button').click(function() {
      var selectedVariant = $('select[name="id"]').val();
      if (selectedVariant) {
        // Use selectedVariant value to add to cart
        console.log('Selected Variant ID:', selectedVariant);
        // Add your code to add selected variant to cart here
      }
    });
  });
</script>
